
<div class="equipmentSlotWrapper">
  <ng-container *ngFor="let tierObj of tierList">
    <div
      class="tierWrap"
      [ngClass]="{
        atk: tierObj.tier === 1,
        util: tierObj.tier === 2,
        passive: tierObj.tier === 3
      }"
    >
      <div class="tierName">{{ tierObj.name }} Module(s)</div>

      <div class="potentialEquipment">
        <ng-container
          *ngFor="let equipment of getAllEquipment(tierObj.tier); let i = index"
        >
          <div (click)="addEquipment(tierObj.tier, equipment)" class="equipment" [ngClass]='{
            equipped: isCurrentlyEquipped(tierObj.tier, equipment),
            offline: !isCurrentlyEquipped(tierObj.tier, equipment)
          }'>
            {{equipment.name}}
          </div>
        </ng-container>
      </div>
            <!--
      <app-equipment-slot [equipmentList]="getAllEquipment(1)"></app-equipment-slot>
  -->
    </div>


  </ng-container>
</div>
