<div class="header flexWraps" [hidden]="!loginEnabled">
  <div class="flexT" style="height: 10px"></div>

  <form class="flexT loginForm" [formGroup]="myForm">
    <input [hidden]="true" type="checkbox" [formControlName]="'customEq'" />
    <div class="login">
      <div class="name">
        <input [formControlName]="'name'" placeholder="Name" />
      </div>

      <div class="spawn">
        <button
          (click)="spawn()"
          type="submit"
          [disabled]="!isValid() || myForm.value.name.length === 0"
        >
          Start
        </button>
      </div>

    </div>
  </form>

  <div class="fitting flexWrap">
    <app-equipment-slot
      #fitting
      [hidden]="!myForm.value.customEq"
    ></app-equipment-slot>
  </div>
</div>
