<div *ngIf="loginEnabled" class="headsup"></div>

<div class="ui">
  <app-fitting #fitting class="login"> </app-fitting>

  <app-headsup #headsUp> </app-headsup>
</div>

<div class="scoreboard">
  <app-scoreboard #scoreboard> </app-scoreboard>
</div>

<div class="tutorial">
  Switch lane by clicking on it
</div>

<div class="nameplates">
  <div *ngFor='let player of players'>
    <app-nameplate [spaceship]='player' [globalPosition]='toGlobal(player.position)'
                   [color]='nameplateColor(player)'></app-nameplate>
  </div>
</div>

<div class='combattext'>
  <div *ngFor='let cText of combatText'
       [style.top]='cText.position.y + "px"'
       [style.left]='cText.position.x + "px"'
       [style.opacity]='cText.timeToLife'
       class='text'>
    {{cText.value}}
  </div>
</div>

<ng-content></ng-content>
