.header {
  height: 25px;
  background-color: black;
  color: white;
  div {
    margin-left: 20px;
  }
}

.login {
  display: flex;
  flex: 1 1 auto;
  flex-flow: column;
}

.ui {
  left: 40px;
  right: 40px;
  max-width: 300px;
  position: absolute;
  max-height: 100vh;
  display: flex;
  flex-direction: column;
  overflow-y: scroll;
}

.scoreboard {
  position: absolute;
  right: 0px;
  color: white;
}

.nameplates {
  position: absolute;
  color: white
}

.combattext {
  .text {
    position: absolute;
    color: red;
    font-weight: bold;
    font-size: 20px;
    z-index: 10000;

  }
}

.tutorial {
  position: absolute;
  right: 0px;
  bottom: 0px;
  color: white;
  text-align: right;
}

.headsup {
  position: absolute;
  bottom: 0px;
}

/* width */
::-webkit-scrollbar {
  width: 1px;
}

/* Track */
::-webkit-scrollbar-track {
  background: none;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #151515;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}
