
<div class="wrap">
  <div class="title">
    <div class="desc">
      <span *ngIf="equipment.passive">Passive</span>
      <span *ngIf="equipment.action.targetEnemy === true">onTarget</span>
      <span *ngIf="equipment.action.targetSelf === true">onSelf</span>
    </div>
    <div class="name">{{equipment.name}}</div>

  </div>
  <div class="attr">
    <table>
      <tr>
        <td>{{equipment.cpuCost}}</td><td>CPU</td>
      </tr>
      <tr *ngIf="!equipment.passive">
        <td>{{equipment.powerCost}}</td><td>Energy</td>
      </tr>
      <tr *ngIf="!equipment.passive">
        <td>{{equipment.cycleTime}}s</td><td>Cooldown</td>
      </tr>
    </table>

  </div>
</div>



