.header {
  user-select: none;
  display: flex;
  flex-direction: column;
  margin: 10px;
}

.ship {
}



.equipment {
  display: flex;

  flex-direction: column;
}

.slot {
  margin-top: 5px;

  display: flex;

  .cont {
    flex: 0 0 40px;
    border: 1px solid white;
    display:flex;
    justify-content: center;
    align-items: center;
  }

  .text {
    color: white;
    flex: 1 0 auto;
    padding: 5px;
  }

  .progressBar {
    flex: 0 0 100px;
    height: 20px;


    .inner {
      background-color:white;
      height: 20px;
    }
  }

}

.active {
  color: white;
  background-color: green;

  .value {
    background-color: #2f2f9a;
    color: white;
  }
}

.offline {
  color: white;
}

.online {
  color: black;
  background-color: white;
}

.value {
  background-color: #2f2f9a;
}



.pending {
  border: 1px solid #ff971b;


}

.cooldown {
  background-color: red !important;
}

.container {
}

.capsule {
  user-select: none;
}


.value {
  //background-color: #7cc4ff;
  display: inline-block;
  height: 100%;
}

.speed {
  background-color: #a91aff;
  color: white;
  .value {
    background-color: #2f2f9a;
  }
}

.energy {
  background-color: #a91aff;
  color: white;
  .value {
    background-color: #2f2f9a;
  }
}



