<div *ngIf="mePlayer() !== undefined" class="header">
  <div class="ship">
    <div style="color: white">
      {{ mePlayer().id }} ({{ getSpeed() }} m/s)
      <button class="capsule" (click)="selfKill()">Capsule</button>
    </div>
    <!--
    <div class="progress energy slot" data-label="Energy" [attr.cost-label]="getEnergy()">
      <span class="value" [style.width.%]="getEnergyP()"></span>
    </div>
    -->
  </div>

  <div class="equipment">
    <div
      *ngFor="let fit of mePlayer().fitting.fitting; let i = index"
      class="slot"
    >
      <ng-container *ngIf="!fit.passive">
        <div
          class="button"
          (click)="onClick(i)"
          class='cont'
          [ngClass]="{
            offline: !fit.state.pendingState,
            online: fit.state.pendingState
          }"
        >
          {{ i + 1 }}
        </div>




        <div class="text">
          {{ fit.name }}
        </div>

        <div class="progressBar">
          <div class='inner' [ngClass]='{ active: fit.state.active && !fit.state.cooldown,
            cooldown: !fit.state.active && fit.state.cooldown}' [style.width]='progress(fit) * 100 + "%"'></div>
        </div>

      </ng-container>



    </div>
    <div class="slot">
      <div class='cont' [ngClass]='{
        online: mePlayer().targetPlayer !== undefined,
        offline: mePlayer().targetPlayer === undefined
        }'>

        Space
      </div>

      <div class='text'>
        Target
      </div>

      <div class='progressBar' style='color: white'>
        {{mePlayer().targetPlayer?.id}}
      </div>
    </div>
  </div>
</div>
