.equipmentWrapper {
  height:400px;
  overflow-y: scroll;
  overflow-x: hidden;
}

.powerCostWrapper {

}

.equipment {
  border: 1px solid black;
}


.equipmentSlot {
  width: 50px;
  height: 50px;
  margin:2px;
  overflow: hidden;
  padding: 5px;
}

.empty {
  border: 1px solid black;
  background-color: grey;
}

.filled {
  border: 2px solid #e47400;
  color: #e47400;
  background-color: #412e8c;
}

.equipmentSlotWrapper {
  display: flex;
}

.fitting {
  background-color: white;
  margin-bottom: 10px;
}

.header {
  input {
    padding: 2px;
    margin:5px;
  }
  background-color: white;
  margin-bottom: 10px;
}




.progress {
  height: 2em;
  width: 100%;
  font-size: 14px;
  color:black;
  position: relative;
}
.progress:before {
  content: attr(data-label);
  position: absolute;
  text-align: left;
  line-height: 2em;
  left: 5px;
  right: 0;

}

.progress:after {
  content: attr(cost-label);
  position: absolute;
  text-align: right;
  line-height: 2em;
  left: 0;
  right: 5px;
}

.value {
  background-color: #ff5c45;
  display: inline-block;
  height: 100%;
}
