<div class="wrap">
  <div class="title">
    <div class="name">{{ equipment.name }}</div>
    <!--
    <div class="attribute">
      <span *ngIf="equipment.passive">Passive</span>
      <span *ngIf="equipment.action.targetEnemy === true">onTarget</span>
      <span *ngIf="equipment.action.targetSelf === true">onSelf</span>
    </div>
    -->
    <div class="desc">{{ description?.meta.desc }}</div>
  </div>
  <div class="attr">
    <div class="buy">
      <span>Cost:</span>
      <span>{{ equipment.cpuCost }}</span>
    </div>

    <!--
      <tr *ngIf="!equipment.passive">
        <td>{{equipment.powerCost}}</td><td>Energy</td>
      </tr>
      <tr *ngIf="!equipment.passive">
        <td>{{equipment.cycleTime}}s</td><td>Cooldown</td>
      </tr>
      -->
  </div>
</div>
