.wrap {
  display: flex;
  justify-content: space-between;
  padding: 10px;
  background-color: cornflowerblue;
  color: black;
  margin-top:5px;
  margin-bottom:5px;
}

.title {

  span {
    display: inline;
  }

  p {
    display: block;

  }
}

.name {
  font-weight: bold;
}

.desc {
  font-style: italic;
  font-size: 14px;
  color:white;
}


table {

  border-left:1px solid black;
}

.attr {
  display: flex;
  flex-direction: column;
  td:first-child {
    width:40px;
    text-align: right;
  }
  td:last-child {
    width:80px;
    color:darkslategrey;
    font-size: 0.8em;
  }
}

.buy {
  background-color: black;
  color: cornflowerblue;
  font-weight: bold;
  margin:5px;
  padding:5px;

}
